:root {
    --purple:#3b04db;
}
.bg-purple {
  background-color: #3b04db !important;
}
.h2{
    font-weight: 700;
}


/*HEADER*/

header{
    background-color: #3b04db;
}
/* HEADER Nav Bar */
.headerNav{
    height: 87px ;
}
.headerLogo{
    width: 137px;
    height: 28px;
    margin-bottom: 5px;
}
.navbar-toggler{
    background-color: white !important;
    border-radius: 0.35rem !important;
}
.collapseButton{
    height: 30px;
    width: 45px;
    padding-top: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255,1) !important;
}
/*HEADER Main Section*/
.watchBox{
    width: 400px;
    height: 462px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
@media screen and (max-width: 1200px) {
    .watchBox{
      width: 320px;
      height: 370px;
    }
}
.secHead{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3b04db;
    padding-top: 110px;
    padding-bottom: 180px;
}
.leftarrow{
    flex-basis: auto;
    margin-left: 10px;
    z-index:3;
}
.rightarrow{
    flex-basis: auto;
    margin-right: 10px;
    z-index:3;
}
.midContent{
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    z-index: 1;
}
.iconBorder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height:70px ;
    width:70px ;
    border-radius:40px;
    background-color: rgb(255,255,255,.5);
    z-index: 4;
}
.iconBorder i{
    font-size:30px ;
}
@media screen and (max-width: 1200px) {
    .iconBorder{
      width: 50px;
      height: 50px;
    }
    .iconBorder i{
    font-size:20px ;
    }
}
@media screen and (max-width: 766px) {
    .iconBorder{
      width: 45px;
      height: 45px;
    }
    .iconBorder i{
    font-size:15px ;
    }
}
.secHead h3{
    color: #ff4e56;
    font-size: 1.5em;
}
.secHead h1{
    font-size: 3.5em;
    color: white;
}
.secHead p{
    font-size: 1em;
    color: white;
}
.watchSide{
    flex-basis:auto;
    display: flex;
    justify-content: center;
}
.wordSide{
    flex-basis: auto;
}
/* Don't change the Order in this part !!!!!!!! */
@media screen and (max-width: 767px) {
    .watchSide{
        text-align: center;
        align-items: center;
        padding-bottom: 66px;
    }
    .wordSide{
         text-align: center; 
    }
    .secHead{
        padding-bottom: 95px;
    }
    
}
@media screen and (max-width: 992px) {
    .watchBox{
      width: 248px;
      height: 286px;
    }
    .secHead{
       padding-top: 70px;
    }
    .secHead h1{
        font-size: 3em;
        line-height: 55px;
    }
}
@media screen and (max-width: 659px) {
    .secHead h1{
        font-size: 2em;
        line-height: 45px;
    }
    .wordSide{
         line-height: 20px;
    }
    .watchSide{
        flex-basis: 100%;
    }
}
@media screen and (max-width:1170px) {
    .secHead{
        padding-bottom: 110px;
    }
}
.btn-outline-light{
    padding-left: 40px !important;
    padding-right: 40px !important;
    height:50px !important ;
    border-radius: 30px !important;
    margin-right: 10px;
}
@media screen and (max-width:839px) {
   .btn-outline-light{ 
      padding-left: 30px !important;
      padding-right: 30px !important;
      margin-right: 5px; 
   }
}
@media screen and (max-width:767px) {
   .btn-outline-light{
    padding-left: 40px !important;
    padding-right: 40px !important;
    height:50px !important ;
    border-radius: 30px !important;
    margin-right: 10px;
    }
}
@media screen and (max-width:545px) {
   .btn-outline-light{ 
      padding-left: 30px !important;
      padding-right: 30px !important;
      margin-right: 5px; 
   }
}
/* Don't change the Order in this part !!!!!!!! */


/* ABOUT */

.jpgWatch{
    width: 540px;
    height: 586px;
    margin: 5px;
    border-radius: 20px;
}
.aboutSec{
    padding-left: 7%;
}
@media screen and (max-width:1199px){
    .jpgWatch{
    width: 450px;
    height: 488x;
    }
}
@media screen and (max-width:991px){
    .jpgWatch{
    width: 330px;
    height: 358px;
    border-radius: 5px;
    }
}
@media screen and (max-width:767px){
    .aboutSec{
        flex-basis: 100% !important ;
        padding-left: 10%;
        padding-right: 10%;
    }
    .jpgWatch{
    width: 505px;
    height: 548px;
    }
}
@media screen and (max-width:575px){
    .aboutSec{
        padding-left: 5%;
        padding-right: 5%;
    }
    .jpgWatch{
    width: 450px;
    height: 488px;
    }
}


/* 3 Parts Section */

/*1st SEC*/
.bigCont{
    padding-top: 100px;
}
.sec1Cont{
    padding-left: 10%;
    padding-right: 10%;
}
.sec1Cont h2{
    padding-bottom: 20px;
}
.sec1Cont p{
     padding-bottom: 30px;
}
@media screen and (max-width:760px){
   .sec1Cont{
    padding-left: 2px;
    padding-right: 2px;   
} 
    .sec1Cont h2{
        font-size: 1.8em;
    }
}
/*2nd SEC*/
.container3Parts{
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f6f6f6;
    width: 100% !important;
    margin-left: 0px !important;
}
@media screen and (max-width:767px){
    .container3Parts{
      padding-top: 70px;
      padding-left: 5%;
      padding-right: 5%;
   }
    .div3Pparts{
        padding-bottom: 20px;
    }
}
.spanPart{
     width:35px; 
     height:35px; 
     border-radius:7px; 
     background-color:#ff4e56;
     display: flex;
     justify-content: center;
     align-content: center;
     color: white;
     margin-bottom: 15px;
}
.spanPart span{
        padding-top: 5px;
        text-align: center;
}
.div3Pparts h3{
    color: #130f40;
}
.div3Pparts p{
    margin-bottom:0px;
}
.cardContainer{
    background-color:#f6f6f6 !important; 
    border-radius:120px !important; 
    padding-top:65px !important; 
    text-align: center !important;
    padding-bottom: 60px !important;
}
.cardContainer h3{
    color: #130f40;
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px ;
    margin: 0px !important;
}
@media screen and (max-width:1199px){
    .cardContainer .card-body{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.card-body{
    padding: 0px !important;
    height: auto !important;
}
@media screen and (max-width:767px){
    cardContainer{
    border-radius:90px !important; 
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* Product DEMO Section */

.demoCont{
    padding-left: 22% ;
    padding-right: 22% ;
}
@media screen and (max-width:767px){
    .demoCont{
    padding-left: 10% !important;
    padding-right: 10% !important;
}
}
@media screen and (max-width:642px){
    .demoCont{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
}
@media screen and (max-width:572px){
    .demoCont{
    padding-left: 1% !important;
    padding-right: 1% !important;
}
    .demoCont .h2{
        font-size: 1.8 rem !important;
    }
}
.watchHandImg{
    width: 916px;
    height: 495px;
}
@media screen and (max-width:1199px){
    .watchHandImg{
        width: 770px;
        height: 415px;
    }
}
@media screen and (max-width:991px){
    .watchHandImg{
        width: 565px;
        height: 305px;
    }
}
@media screen and (max-width:767px){
    .watchHandImg{
      width: 510px;
        height: 275px;
    }
}
@media screen and (max-width:545px){
    .watchHandImg{
      width: 450px;
      height: 242px;
    }
}


/* Our Product Section */

.prodDiv li {
    margin: 0;
}
li h3{
    color: #3b04db;
}
li h5{
    color: #ff545c;
}
li img{
    width: 350px;
    height: 464px;
}
.prodDiv a{
    color:#425262;
    text-decoration: underline;
}
.prodDiv i{
    text-decoration: underline;
    font-size: 10px;
}
.prodDiv li{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-bottom: 100px !important;
}
.priceDiv{
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(215, 215, 233,.1);
    background-color: white;
    justify-content: center;
    text-align: center;
    margin: 0px !important;
    position: absolute;
    top: 85%;
    left: 13%;
}
@media screen and (max-width:1199px){
   .priceDiv{
    width: 230px;
    left: 19%;
   }
}
@media screen and (max-width:991px){
    .priceDiv{
    width: 265px;
    left: 15%;
   }
}
@media screen and (max-width:767px){
   .priceDiv{
    width: 410px;
    left:-4%;
   }
}
@media screen and (max-width:540px){
   .priceDiv{
    width: 310px;
    left:9%;
   }
}


/* Up To Date Section */

.upTOrelativeCont{
    width: 80%;
    position: relative;
}
.upTOdateFormPart button{
    background-color: #ff4e56;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    right: 15.6%;
    top:5px;
}
.upTO{
    width: 70%;
    height: 60px;
    border-radius: 50px;
    border: none !important;
    padding-left: 20px;

}
@media screen and (max-width:991px){
    .upTOdateFormPart button{
        right: 16%;
    }   
}
@media screen and (max-width:767px){
    .upTO{
    width: 90%;
    }
    .upTOdateFormPart button {
    right: 6%;
    }
}


/* Why Our Product Section */

.whyProduct ul{
    list-style: none;
    align-content: center;
}
.whyProduct li{
    padding-right: 0px;
}
@media screen and (min-width:992px){
   .topSecWHY{
       width: 70%;
       text-align: center;
       margin-left: 15%;
   }
}
.whyProduct img{
    width: 540px;
    height: 393px;
}
.whyProduct h5{
        text-align: left;
}
@media screen and (max-width:1199px){
   .whyProduct img{
    width: 450px;
    height: 328px;
}
    .whyProduct h5{
        padding-left: 10px;
    }
}
@media screen and (max-width:991px){
    .whyProduct img{
    width: 330px;
    height: 240px;
}
    .whyProduct ul{
        padding-top: 0px !important;
    }
}
@media screen and (max-width:937px){
    .whyProduct h5{
        flex-basis: 85% !important;
    }
}
@media screen and (max-width:767px){
   .whyProduct img{
    width: 510px;
    height: 371px;
    }
    .whyProduct ul{
        padding-top: 40px !important;
        flex-basis: 90% !important;
    }
    .whyProduct h5{
        flex-basis: 90% !important;
    }
}
@media screen and (max-width:540px){
   .whyProduct img{
        width: 450px;
        height: 328px;
    }
    .whyProduct ul{
        padding-left: 0px !important;
    }
}
@media screen and (min-width:1199px){
    .whyProduct .icondiv{
        padding-right: 10px !important;
    }
}
@media screen and (min-width:768px){
    .whyProduct ul{
        padding-left: 30px !important;
    }
}


/* FAQ Section */

@media screen and (min-width:992px){
    .container4Parts{
        width:80% ; 
        margin-left: auto;
        margin-right: auto;
    }
}


/* Customer Feedback Section */

.Feedback{
    width: 730px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:1199px){
    .Feedback{
        width: 605px;
    }
}
@media screen and (max-width:991px){
    .Feedback{
        width: 570px;
    }
}
@media screen and (max-width:767px){
    .Feedback{
      width: 510px;
    }
}
@media screen and (max-width:545px){
    .Feedback{
      width: 450px;
    }
}


/* Contact Section */
@media screen and (max-width:767px){
    aside .aboutSec{
        text-align: center;
    }
    aside form{
        flex-basis: 80% !important;
    }
}
form input{
    height: 50px !important;
}
form textarea{
    height: 160px !important;
}






